openapi: 3.0.1
info:
  title: Bitmovin Encoding Config Manifests API
  description: REST API for cloud-based VOD and live video encoding. Supports H.264, H.265/HEVC, VP9, AV1 and more, along with adaptive bitrate packaging (HLS/DASH/Smooth Streaming), DRM (Widevine, PlayReady, FairPlay), and per-title encoding optimisation.
  version: '3.0'
  termsOfService: https://bitmovin.com
  contact:
    name: Bitmovin Inc
    url: https://bitmovin.com
    email: support@bitmovin.com
servers:
- url: https://api.bitmovin.com/v1
  description: Bitmovin Server
  variables: {}
security:
- ApiKeyAuth: []
- ApiKeyAuth: []
  TenantOrgId: []
tags:
- name: Manifests
paths:
  /encoding/manifests/dash/{manifest_id}:
    delete:
      tags:
      - Manifests
      summary: Delete DASH Manifest
      operationId: DeleteEncodingManifestsDashByManifestId
      parameters:
      - name: manifest_id
        in: path
        description: UUID of the DASH Manifest to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the DASH Manifest
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/audio/{adaptationset_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Audio AdaptationSet
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsAudioByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the audio adaptation set to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Audio AdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/contentprotection/{contentprotection_id}
  : delete:
      tags:
      - Manifests
      summary: Delete AdaptationSet Content Protection
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndContentprotectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: contentprotection_id
        in: path
        description: Id of the adaptation set content protection to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 60bd481a-3524-4091-9cef-a2ec7aaa8110
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the AdaptationSet Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/image/{adaptationset_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Image AdaptationSet
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsImageByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the audio adaptation set to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Image AdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/chunked-text/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete Chunked Text Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsChunkedTextByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the Chunked Text Representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Chunked Text Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/cmaf/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete CMAF Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsCmafByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the CMAF representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CMAF Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/cmaf/{representation_id}/contentprotection/{contentprotection_id}
  : delete:
      tags:
      - Manifests
      summary: Delete CMAF Representation Content Protection
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsCmafContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationIdAndContentprotectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      - name: contentprotection_id
        in: path
        description: Id of the DRM CMAF content protection to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 60bd481a-3524-4091-9cef-a2ec7aaa8110
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CMAF Representation Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete fMP4 Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4ByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the fMP4 representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the fMP4 Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/{representation_id}/contentprotection/{contentprotection_id}
  : delete:
      tags:
      - Manifests
      summary: Delete fMP4 Representation Content Protection
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4ContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationIdAndContentprotectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      - name: contentprotection_id
        in: path
        description: Id of the DRM fMP4 content protection to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 60bd481a-3524-4091-9cef-a2ec7aaa8110
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the fMP4 Representation Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/drm/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete DRM fMP4 Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4DrmByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the DRM fMP4 representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the DRM fMP4 Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/drm/{representation_id}/contentprotection/{contentprotection_id}
  : delete:
      tags:
      - Manifests
      summary: Delete DRM fMP4 Representation Content Protection
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4DrmContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationIdAndContentprotectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      - name: contentprotection_id
        in: path
        description: Id of the DRM fMP4 content protection to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 60bd481a-3524-4091-9cef-a2ec7aaa8110
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the DRM fMP4 Representation Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/imsc/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete IMSC Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsImscByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the IMSC representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the IMSC Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/mp4/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete MP4 Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsMp4ByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the MP4 representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the MP4 Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/mp4/drm/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete DRM MP4 Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsMp4DrmByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the DRM MP4 representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the DRM MP4 Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/progressive-webm/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete Progressive WebM Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsProgressiveWebmByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the Progressive WebM representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Progressive WebM Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/sprite/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete Sprite Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsSpriteByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the Sprite representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Sprite Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/vtt/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete VTT Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsVttByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the VTT representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the VTT Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/webm/{representation_id}
  : delete:
      tags:
      - Manifests
      summary: Delete WebM Representation
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsWebmByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the WebM representation to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the WebM Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/webm/{representation_id}/contentprotection/{contentprotection_id}
  : delete:
      tags:
      - Manifests
      summary: Delete WebM Representation Content Protection
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsRepresentationsWebmContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationIdAndContentprotectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      - name: contentprotection_id
        in: path
        description: Id of the DRM WebM content protection to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: 60bd481a-3524-4091-9cef-a2ec7aaa8110
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the WebM Representation Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/subtitle/{adaptationset_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Subtitle AdaptationSet
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsSubtitleByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the subtitle adaptation set to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Subtitle AdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/video/{adaptationset_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Video AdaptationSet
      operationId: DeleteEncodingManifestsDashPeriodsAdaptationsetsVideoByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the video adaptation set to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Video AdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Period
      operationId: DeleteEncodingManifestsDashPeriodsByManifestIdAndPeriodId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period to be deleted
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Period
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/custom-xml-elements/{custom_xml_element_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Custom XML Element
      operationId: DeleteEncodingManifestsDashPeriodsCustomXmlElementsXmlElementByManifestIdAndPeriodIdAndCustomXmlElementId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: custom_xml_element_id
        in: path
        description: Id of the Custom XML Element
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Custom XML Element
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}:
    delete:
      tags:
      - Manifests
      summary: Delete HLS Manifest
      operationId: DeleteEncodingManifestsHlsByManifestId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the HLS Manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the HLS manifest
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/audio/{media_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Audio Media
      operationId: DeleteEncodingManifestsHlsMediaAudioByManifestIdAndMediaId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the audio media.
        style: simple
        required: true
        schema:
          type: string
          example: 3009c63c-5014-4750-be28-91d609555c19
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the audio media
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/closed-captions/{media_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Closed Captions Media
      operationId: DeleteEncodingManifestsHlsMediaClosedCaptionsByManifestIdAndMediaId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the closed captions media.
        style: simple
        required: true
        schema:
          type: string
          example: 49019b21-21fb-4b0a-9dd5-fd667c59b059
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the closed captions media
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/{media_id}/custom-tags/{custom_tag_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Custom Tag
      operationId: DeleteEncodingManifestsHlsMediaCustomTagByManifestIdAndMediaIdAndCustomTagId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the media.
        style: simple
        required: true
        schema:
          type: string
          example: 6129e1fc-786a-471b-9a2b-b9b033842697
      - name: custom_tag_id
        in: path
        description: Id of the custom tag.
        style: simple
        required: true
        schema:
          type: string
          example: 27786ce5-eaaf-41b7-82be-b82f4ae96194
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the custom tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/subtitles/{media_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Subtitles Media
      operationId: DeleteEncodingManifestsHlsMediaSubtitlesByManifestIdAndMediaId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the subtitles media.
        style: simple
        required: true
        schema:
          type: string
          example: fdc2d456-7a2d-4e56-b712-fb08c7c8a63e
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the subtitles media
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/video/{media_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Video Media
      operationId: DeleteEncodingManifestsHlsMediaVideoByManifestIdAndMediaId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the video media.
        style: simple
        required: true
        schema:
          type: string
          example: 95ce19cc-be6d-43f9-9e10-fffa3a142a9c
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the video media
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/media/vtt/{media_id}:
    delete:
      tags:
      - Manifests
      summary: Delete VTT Media
      operationId: DeleteEncodingManifestsHlsMediaVttByManifestIdAndMediaId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: media_id
        in: path
        description: Id of the VTT media.
        style: simple
        required: true
        schema:
          type: string
          example: fdc2d456-7a2d-4e56-b712-fb08c7c8a63e
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the VTT media
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/streams/{stream_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Variant Stream
      operationId: DeleteEncodingManifestsHlsStreamsByManifestIdAndStreamId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: stream_id
        in: path
        description: Id of the variant stream.
        style: simple
        required: true
        schema:
          type: string
          example: 6129e1fc-786a-471b-9a2b-b9b033842697
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the stream inf
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/streams/{stream_id}/custom-tags/{custom_tag_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Custom Tag
      operationId: DeleteEncodingManifestsHlsStreamsCustomTagByManifestIdAndStreamIdAndCustomTagId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: stream_id
        in: path
        description: Id of the variant stream.
        style: simple
        required: true
        schema:
          type: string
          example: 6129e1fc-786a-471b-9a2b-b9b033842697
      - name: custom_tag_id
        in: path
        description: Id of the custom tag.
        style: simple
        required: true
        schema:
          type: string
          example: 27786ce5-eaaf-41b7-82be-b82f4ae96194
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the custom tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/hls/{manifest_id}/streams/{stream_id}/iframe/{iframe_id}:
    delete:
      tags:
      - Manifests
      summary: Delete I-frame playlist
      operationId: DeleteEncodingManifestsHlsStreamsIframeByManifestIdAndStreamIdAndIframeId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the hls manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: stream_id
        in: path
        description: Id of the variant stream.
        style: simple
        required: true
        schema:
          type: string
          example: 6129e1fc-786a-471b-9a2b-b9b033842697
      - name: iframe_id
        in: path
        description: Id of the Iframe-Playlist.
        style: simple
        required: true
        schema:
          type: string
          example: 27786ce5-eaaf-41b7-82be-b82f4ae96194
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the custom tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/smooth/{manifest_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Smooth Streaming Manifest
      operationId: DeleteEncodingManifestsSmoothByManifestId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the Smooth Streaming Manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the manifest
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/smooth/{manifest_id}/contentprotection/{protection_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Content Protection of Smooth Streaming
      operationId: DeleteEncodingManifestsSmoothContentprotectionByManifestIdAndProtectionId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the Smooth Streaming manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: protection_id
        in: path
        description: Id of the content protection.
        style: simple
        required: true
        schema:
          type: string
          example: b7519c28-8dae-4596-ae91-ddc0c2bc5d62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the content protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/smooth/{manifest_id}/representations/mp4/{representation_id}:
    delete:
      tags:
      - Manifests
      summary: Delete Smooth Streaming MP4 Representation
      operationId: DeleteEncodingManifestsSmoothRepresentationsMp4ByManifestIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the Smooth Streaming manifest.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: representation_id
        in: path
        description: Id of the MP4 representation.
        style: simple
        required: true
        schema:
          type: string
          example: 36919308-f99a-46f0-932a-5cd838573869
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash:
    post:
      tags:
      - Manifests
      summary: Create Custom DASH Manifest
      operationId: PostEncodingManifestsDash
      description: A Custom DASH Manifest gives you full control over its contents. Add Periods, Adaptation Sets, Representations, Content Protections or Custom XML Elements via the respective endpoints. If you need a simpler solution, create a Default Manifest resource instead. See [documentation](https://developer.bitmovin.com/encoding/docs/default-vs-custom-manifest) page for a comparison
      requestBody:
        description: The Custom DASH Manifest to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashManifest'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashManifest'
                          - description: Id of the DASH Manifest
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/default:
    post:
      tags:
      - Manifests
      summary: Create Default DASH Manifest
      operationId: PostEncodingManifestsDashDefault
      description: A Default Manifest is the easiest way to create a manifest file. Its contents will be configured automatically, depending on what output your encoding creates (muxings, thumbnails, sprites, subtitles, DRM information). If you need more control, create a Custom Manifest resource instead. See [documentation](https://developer.bitmovin.com/encoding/docs/default-vs-custom-manifest) page for a comparison
      requestBody:
        description: The Default DASH Manifest to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashManifestDefault'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashManifestDefault'
                          - description: Id of the DASH Manifest
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/audio:
    post:
      tags:
      - Manifests
      summary: Add Audio AdaptationSet
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsAudioByManifestIdAndPeriodId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      requestBody:
        description: The audio adaptation set to be added to the period
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioAdaptationSet'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/AudioAdaptationSet'
                          - description: AudioAdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/contentprotection:
    post:
      tags:
      - Manifests
      summary: Add Content Protection to AdaptationSet
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsContentprotectionByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The content protection to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentProtection'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/ContentProtection'
                          - description: AdaptationSet Content Protection
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/image:
    post:
      tags:
      - Manifests
      summary: Add Image AdaptationSet
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsImageByManifestIdAndPeriodId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      requestBody:
        description: The image adaptation set to be added to the period
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageAdaptationSet'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/ImageAdaptationSet'
                          - description: ImageAdaptationSet
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/chunked-text:
    post:
      tags:
      - Manifests
      summary: Add Chunked Text Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsChunkedTextByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The Chunked Text Representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashChunkedTextRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashChunkedTextRepresentation'
                          - description: Chunked Text Representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/cmaf:
    post:
      tags:
      - Manifests
      summary: Add CMAF Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsCmafByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The CMAF representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashCmafRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashCmafRepresentation'
                          - description: CMAF representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/cmaf/{representation_id}/contentprotection
  : post:
      tags:
      - Manifests
      summary: Add Content Protection to CMAF Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsCmafContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      requestBody:
        description: The content protection to be added to the CMAF representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentProtection'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/ContentProtection'
                          - description: Id of the DRM CMAF representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4:
    post:
      tags:
      - Manifests
      summary: Add fMP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4ByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The fMP4 representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashFmp4Representation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashFmp4Representation'
                          - description: Fmp4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/{representation_id}/contentprotection
  : post:
      tags:
      - Manifests
      summary: Add Content Protection to fMP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4ContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      requestBody:
        description: The content protection to be added to the fMP4 representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentProtection'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/ContentProtection'
                          - description: Id of the DRM Fmp4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/drm:
    post:
      tags:
      - Manifests
      summary: Add DRM fMP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4DrmByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The DRM fMP4 representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashFmp4DrmRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashFmp4DrmRepresentation'
                          - description: Id of the DRM Fmp4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/fmp4/drm/{representation_id}/contentprotection
  : post:
      tags:
      - Manifests
      summary: Add Content Protection to DRM fMP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsFmp4DrmContentprotectionByManifestIdAndPeriodIdAndAdaptationsetIdAndRepresentationId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      - name: representation_id
        in: path
        description: Id of the representation
        style: simple
        required: true
        schema:
          type: string
          example: 0695f80f-ad88-4051-b1b8-0d82d5f7192d
      requestBody:
        description: The content protection to be added to the DRM fMP4 representation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentProtection'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/ContentProtection'
                          - description: Id of the DRM Fmp4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/imsc:
    post:
      tags:
      - Manifests
      summary: Add IMSC Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsImscByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the subtitle adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: 'The IMSC representation to be added to the adaptation set.

          Note that the adaptation set has to be a subtitle adaptation set.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashImscRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashImscRepresentation'
                          - description: Imsc representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/mp4:
    post:
      tags:
      - Manifests
      summary: Add MP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsMp4ByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The MP4 representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashMp4Representation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashMp4Representation'
                          - description: MP4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/mp4/drm:
    post:
      tags:
      - Manifests
      summary: Add DRM MP4 Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsMp4DrmByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The DRM MP4 representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashMp4DrmRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashMp4DrmRepresentation'
                          - description: Id of the DRM MP4 representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  ? /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/progressive-webm
  : post:
      tags:
      - Manifests
      summary: Add Progressive WebM Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsProgressiveWebmByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The Progressive WebM representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashProgressiveWebmRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashProgressiveWebmRepresentation'
                          - description: Progressive WebM representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/sprite:
    post:
      tags:
      - Manifests
      summary: Add Sprite Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsSpriteByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the image adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: 'The Sprite representation to be added to the adaptation set.

          Note that the adaptation set has to be an image adaptation set.


          Only supported for sprites generated with encoder version `2.76.0` or above.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpriteRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/SpriteRepresentation'
                          - description: Sprite representation
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/manifests/dash/{manifest_id}/periods/{period_id}/adaptationsets/{adaptationset_id}/representations/vtt:
    post:
      tags:
      - Manifests
      summary: Add VTT Representation
      operationId: PostEncodingManifestsDashPeriodsAdaptationsetsRepresentationsVttByManifestIdAndPeriodIdAndAdaptationsetId
      parameters:
      - name: manifest_id
        in: path
        description: Id of the manifest
        style: simple
        required: true
        schema:
          type: string
          example: 45ef21d2-1f62-4004-9166-6d5e248270f6
      - name: period_id
        in: path
        description: Id of the period
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      - name: adaptationset_id
        in: path
        description: Id of the adaptation set
        style: simple
        required: true
        schema:
          type: string
          example: ae1c49de-9b7a-4b6f-9d0b-401d7d64e835
      requestBody:
        description: The VTT representation to be added to the adaptation set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashVttRepresentation'
      responses:
        '201':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/DashVttRepresentation'
                          - description: VTT representation
        default:
          description: Error response.
[...]
