openapi: 3.0.1
info:
  title: Bitmovin Encoding Config Configurations API
  description: REST API for cloud-based VOD and live video encoding. Supports H.264, H.265/HEVC, VP9, AV1 and more, along with adaptive bitrate packaging (HLS/DASH/Smooth Streaming), DRM (Widevine, PlayReady, FairPlay), and per-title encoding optimisation.
  version: '3.0'
  termsOfService: https://bitmovin.com
  contact:
    name: Bitmovin Inc
    url: https://bitmovin.com
    email: support@bitmovin.com
servers:
- url: https://api.bitmovin.com/v1
  description: Bitmovin Server
  variables: {}
security:
- ApiKeyAuth: []
- ApiKeyAuth: []
  TenantOrgId: []
tags:
- name: Configurations
paths:
  /encoding/configurations/audio/aac/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete AAC Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioAacByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/ac3/{configuration_id}:
    delete:
      deprecated: true
      tags:
      - Configurations
      summary: Delete AC3 Codec Configuration
      description: 'Deprecation notice: use Dolby Digital instead. For more information check out our tutorial here:

        https://bitmovin.com/docs/encoding/tutorials/how-to-create-dolby-digital-plus-encodings

        '
      operationId: DeleteEncodingConfigurationsAudioAc3ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dolby-digital/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Dolby Digital Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDDByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dolby-atmos/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Dolby Atmos Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDolbyAtmosByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dolby-digital-plus/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Dolby Digital Plus Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDolbyDDPlusByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dts/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete DTS Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDtsByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dts-passthrough/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete DTS Passthrough Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDtsPassthroughByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/dtsx/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete DTS:X Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioDtsXByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/eac3/{configuration_id}:
    delete:
      deprecated: true
      tags:
      - Configurations
      summary: Delete E-AC3 Codec Configuration
      description: 'Deprecation notice: use Dolby Digital Plus instead. For more information check out our tutorial here:

        https://bitmovin.com/docs/encoding/tutorials/how-to-create-dolby-digital-plus-encodings

        '
      operationId: DeleteEncodingConfigurationsAudioEac3ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/he-aac-v1/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete HE-AAC v1 Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioHeAacV1ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/he-aac-v2/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete HE-AAC v2 Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioHeAacV2ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/mp2/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete MP2 Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioMp2ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/mp3/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete MP3 Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioMp3ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/opus/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Opus Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioOpusByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/passthrough/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Audio Passthrough Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioPassthroughByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the audio configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the audio configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/pcm/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete PCM Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioPcmByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/audio/vorbis/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete Vorbis Codec Configuration
      operationId: DeleteEncodingConfigurationsAudioVorbisByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/subtitles/dvb-subtitle/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete DVB-SUB subtitle configuration
      operationId: DeleteEncodingConfigurationsSubtitlesDvbSubtitleByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the subtitle configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the deleted configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/subtitles/imsc/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete IMSC subtitle configuration
      operationId: DeleteEncodingConfigurationsSubtitlesImscByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the subtitle configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the deleted configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/subtitles/webvtt/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete WebVtt subtitle configuration
      operationId: DeleteEncodingConfigurationsSubtitlesWebVttByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the subtitle configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the deleted configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/av1/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete AV1 Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoAv1ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/h262/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete H262 Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoH262ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/h264/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete H264/AVC Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoH264ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/h265/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete H265/HEVC Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoH265ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/mjpeg/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete MJPEG Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoMjpegByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: e7110fad-9076-4ca1-88f7-a29b66c2b78e
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/vp8/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete VP8 Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoVp8ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/configurations/video/vp9/{configuration_id}:
    delete:
      tags:
      - Configurations
      summary: Delete VP9 Codec Configuration
      operationId: DeleteEncodingConfigurationsVideoVp9ByConfigurationId
      parameters:
      - name: configuration_id
        in: path
        description: Id of the codec configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the codec configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
components:
  schemas:
    BitmovinResponse:
      title: BitmovinResponse
      required:
      - id
      properties:
        id:
          type: string
          readOnly: true
          description: Id of the resource
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
    Message:
      title: Message
      required:
      - type
      - text
      allOf:
      - $ref: '#/components/schemas/BitmovinResponse'
      - properties:
          type:
            description: Message type giving a hint on the importance of the message (log level)
            allOf:
            - $ref: '#/components/schemas/MessageType'
          text:
            type: string
            description: Message text
            example: field must not be empty
          field:
            type: string
            description: Name of the field to which the message is referring to
            example: manifestId
          links:
            type: array
            items:
              $ref: '#/components/schemas/Link'
            description: collection of links to webpages containing further information on the topic
          more:
            type: object
            description: Service-specific information
          date:
            type: string
            format: date-time
            description: Timestamp when the message occurred
            example: '2016-06-25T20:09:23.69Z'
    ResponseEnvelope:
      title: ResponseEnvelope
      required:
      - requestId
      - status
      - data
      properties:
        requestId:
          type: string
          readOnly: true
          description: Unique correlation id
          example: 6d84e126-d10c-4e52-bbfb-bd4c92bc8333
        status:
          description: Response status information
          readOnly: true
          example: SUCCESS
          allOf:
          - $ref: '#/components/schemas/ResponseStatus'
        data:
          description: Response information
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/ResultWrapper'
        more:
          type: object
          description: Additional endpoint specific information
    ResponseStatus:
      title: ResponseStatus
      type: string
      enum:
      - SUCCESS
      - ERROR
    ResponseErrorData:
      title: ResponseErrorData
      required:
      - code
      - message
      - developerMessage
      properties:
        code:
          type: integer
          readOnly: true
          description: 'Contains an error code as defined in https://bitmovin.com/encoding-documentation/bitmovin-api/#/introduction/api-error-codes

            '
          example: 1005
        message:
          type: string
          readOnly: true
          description: General error message
        developerMessage:
          type: string
          readOnly: true
          description: More detailed message meant for developers
        links:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Link'
          description: collection of links to webpages containing further information on the topic
        details:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Message'
          description: collection of messages containing more detailed information on the cause of the error
    ResultWrapper:
      title: ResultWrapper
      properties:
        result:
          type: object
          readOnly: true
    ResponseError:
      title: ResponseError
      required:
      - requestId
      - status
      - data
      properties:
        requestId:
          type: string
          readOnly: true
          description: Unique correlation id
          example: 6d84e126-d10c-4e52-bbfb-bd4c92bc8333
        status:
          description: Response status information
          readOnly: true
          example: ERROR
          allOf:
          - $ref: '#/components/schemas/ResponseStatus'
        data:
          description: Response information
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/ResponseErrorData'
    Link:
      title: Link
      required:
      - href
      properties:
        href:
          type: string
          description: webpage target URL
          example: https://bitmovin.com/encoding-documentation/bitmovin-api/#/reference/encoding/manifests/add-period
        title:
          type: string
          description: Short description of the linked page
          example: how to add a period to a manifest
    MessageType:
      title: MessageType
      type: string
      enum:
      - ERROR
      - WARNING
      - INFO
      - DEBUG
      - TRACE
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: Your Bitmovin API key
      name: X-Api-Key
      in: header
    TenantOrgId:
      type: apiKey
      description: Your Bitmovin account organization
      name: X-Tenant-Org-Id
      in: header
