openapi: 3.0.1
info:
  title: Bitmovin Encoding Config Encodings API
  description: REST API for cloud-based VOD and live video encoding. Supports H.264, H.265/HEVC, VP9, AV1 and more, along with adaptive bitrate packaging (HLS/DASH/Smooth Streaming), DRM (Widevine, PlayReady, FairPlay), and per-title encoding optimisation.
  version: '3.0'
  termsOfService: https://bitmovin.com
  contact:
    name: Bitmovin Inc
    url: https://bitmovin.com
    email: support@bitmovin.com
servers:
- url: https://api.bitmovin.com/v1
  description: Bitmovin Server
  variables: {}
security:
- ApiKeyAuth: []
- ApiKeyAuth: []
  TenantOrgId: []
tags:
- name: Encodings
paths:
  /encoding/encodings/{encoding_id}/streams/{stream_id}/qc/psnr:
    post:
      tags:
      - Encodings
      summary: PSNR quality metrics
      description: Activates PSNR quality metrics for the selected stream
      operationId: ActivatePsnrStreamQualityMetrics
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: stream_id
        in: path
        description: Id of the stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Audio Mix configuration
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Encoding
      operationId: DeleteEncodingEncodingsByEncodingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the encoding
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/captions/scc/{captions_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Convert SCC captions
      operationId: DeleteEncodingEncodingsCaptionsSccByEncodingIdAndCaptionsId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: captions_id
        in: path
        description: Id of the caption.
        style: simple
        required: true
        schema:
          type: string
          example: 81424b3f-98ce-4dbf-a4c0-8b4d515150f3
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the caption
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/audio-mix/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete audio mix input stream
      operationId: DeleteEncodingEncodingsInputStreamsAudioMixByEncodingIdAndAudioMixInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the audio mix input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the audio mix input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/captions/cea608/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CEA 608 Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsCEA608ByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the CEA 608 input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CEA 608 Input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/captions/cea708/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CEA 708 Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsCEA708ByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the Encoding
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the CEA 708 input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CEA 708 Input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/concatenation/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Concatenation Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsConcatenationByEncodingIdAndConcatenationInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the Concatenation input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Concatenation input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/dolby-atmos/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Dolby Atmos input stream
      operationId: DeleteEncodingEncodingsInputStreamsDolbyAtmosByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the Dolby Atmos input stream
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Dolby Atmos input stream
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/dolby-vision/{dolby_vision_input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Dolby Vision input stream
      operationId: DeleteEncodingEncodingsInputStreamsDolbyVisionByEncodingIdAndDolbyVisionInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: dolby_vision_input_stream_id
        in: path
        description: Id of the Dolby Vision input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Dolby Vision input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/sidecar/dolby-vision-metadata-ingest/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Dolby Vision Metadata Ingest Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsDolbyVisionMetadataIngestByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the Dolby Vision Metadata Ingest input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Dolby Vision Metadata Ingest input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/subtitles/dvb-subtitle/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete DVB Subtitle Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsDvbSubtitleByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the DVB Subtitle Input Stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the DVB Subtitle Input Stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/file/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete File stream
      operationId: DeleteEncodingEncodingsInputStreamsFileByEncodingIdAndFileInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the File input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the File input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/ingest/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Ingest Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsIngestByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the ingest input stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the ingest input stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/trimming/h264-picture-timing/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete H264 Picture Timing Trimming Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsTrimmingH264PictureTimingByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the H264 Picture Timing Trimming Input Stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the H264 Picture Timing Trimming Input Stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/trimming/time-based/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Time-Based Trimming Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsTrimmingTimeBasedByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the Time-Based Trimming Input Stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Time-Based Trimming Input Stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/input-streams/trimming/timecode-track/{input_stream_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Timecode Track Trimming Input Stream
      operationId: DeleteEncodingEncodingsInputStreamsTrimmingTimecodeTrackByEncodingIdAndInputStreamId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: input_stream_id
        in: path
        description: Id of the Timecode Track Trimming Input Stream.
        style: simple
        required: true
        schema:
          type: string
          example: a6336204-c929-4a61-b7a0-2cd6665114e9
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Timecode Track Trimming Input Stream
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/kantar-watermark:
    delete:
      tags:
      - Encodings
      summary: Delete the Kantar Watermark for an encoding
      operationId: DeleteEncodingEncodingsKantarWatermarkByEncodingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Kantar Watermark
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/keyframes/{keyframe_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Keyframe
      operationId: DeleteEncodingEncodingsKeyframesByEncodingIdAndKeyframeId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: keyframe_id
        in: path
        description: Id of the keyframe.
        style: simple
        required: true
        schema:
          type: string
          example: e47151f2-cffb-4895-a3b9-0d4ed822705e
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the keyframe
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/broadcast-ts/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Broadcast TS muxing
      operationId: DeleteEncodingEncodingsMuxingsBroadcastTsTsMuxingByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: ID of the Encoding.
        style: simple
        required: true
        schema:
          type: string
          example: 63c7b1ff-a57e-435d-80cb-bcea7752bcd1
      - name: muxing_id
        in: path
        description: ID of the Broadcast TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 10fff470-813c-4cb7-963c-d020db4a7d83
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: ID of the Broadcast TS muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/chunked-text/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Chunked Text muxing
      operationId: DeleteEncodingEncodingsMuxingsChunkedTextByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Chunked Text muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Chunked Text muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/cmaf/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CMAF muxing
      operationId: DeleteEncodingEncodingsMuxingsCmafByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the CMAF muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CMAF muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4ByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the fMP4 muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/aes/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete AES encryption configuration from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmAesByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the AES encryption configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the AES encryption configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/cenc/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CENC DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmCencByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the cenc drm.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CENC DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/clearkey/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete ClearKey DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmClearkeyByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the ClearKey DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the ClearKey DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/fairplay/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete FairPlay DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmFairplayByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the FairPlay DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the FairPlay DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/marlin/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Marlin DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmMarlinByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the Marlin DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Marlin DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/playready/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete PlayReady DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmPlayreadyByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the PlayReady DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the PlayReady DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/primetime/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete PrimeTime DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmPrimetimeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the PrimeTime DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the PrimeTime DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/fmp4/{muxing_id}/drm/widevine/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Widevine DRM from an fMP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsFmp4DrmWidevineByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the fMP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the widevine drm.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Widevine DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp3/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete MP3 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp3ByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP3 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the MP3 muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4ByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the MP4 muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/cenc/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CENC DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmCencByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the cenc drm.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CENC DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/clearkey/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete ClearKey DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmClearkeyByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the mp4.
        style: simple
        required: true
        schema:
          type: string
          example: 56f54472-510e-40d4-8ec8-951b09a9cbd9
      - name: drm_id
        in: path
        description: Id of the ClearKey DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: 342edd4f-2d48-4dc1-96e6-93c56eb17340
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the ClearKey DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/marlin/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Marlin DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmMarlinByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the mp4.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the Marlin DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/MarlinDrm'
                          - description: Id of the Marlin DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/playready/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete PlayReady DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmPlayreadyByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP4 muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the PlayReady DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the PlayReady DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mp4/{muxing_id}/drm/widevine/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Widevine DRM from an MP4 muxing
      operationId: DeleteEncodingEncodingsMuxingsMp4DrmWidevineByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MP4 muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the widevine drm.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Widevine DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/mxf/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete MXF muxing
      operationId: DeleteEncodingEncodingsMuxingsMXFByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the MXF muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the MXF muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/packed-audio/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Packed Audio muxing
      operationId: DeleteEncodingEncodingsMuxingsPackedAudioByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Packed Audio muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Packed Audio muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/packed-audio/{muxing_id}/drm/aes/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete AES encryption configuration from a Packed Audio muxing
      operationId: DeleteEncodingEncodingsMuxingsPackedAudioDrmAesByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Packed Audio muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the AES encryption configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the AES encryption configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-mov/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Progressive MOV muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveMovMovByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive MOV muxing
        style: simple
        required: true
        schema:
          type: string
          example: 6cc47877-b682-49bf-9e10-2b46f6eff1e2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Progressive MOV muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/drm/aes/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete AES encryption configuration from a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsDrmAesByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the AES encryption configuration
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the AES encryption configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/drm/fairplay/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete FairPlay DRM from a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsDrmFairplayByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive TS muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the FairPlay DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the FairPlay DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTSDrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsTsMuxingByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: ID of the Encoding.
        style: simple
        required: true
        schema:
          type: string
          example: 63c7b1ff-a57e-435d-80cb-bcea7752bcd1
      - name: muxing_id
        in: path
        description: ID of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 10fff470-813c-4cb7-963c-d020db4a7d83
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: ID of the Progressive TS muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/id3/frame-id/{id3_tag_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Frame ID ID3 Tag of a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsTsMuxingId3FrameIdId3TagByEncodingIdAndMuxingIdAndFrameidId3TagId
      parameters:
      - name: encoding_id
        in: path
        description: ID of the Encoding.
        style: simple
        required: true
        schema:
          type: string
          example: 7c850c77-3305-4aa7-8ffd-ac4a94549aeb
      - name: muxing_id
        in: path
        description: ID of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 1fd78356-eb0c-41d8-adea-f9248dad5fc8
      - name: id3_tag_id
        in: path
        description: ID of the Frame ID ID3 Tag
        style: simple
        required: true
        schema:
          type: string
          example: 6c970971-0a47-45f0-9f54-f5fde8bfb645
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: ID of the Frame ID ID3 Tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/id3/plain-text/{id3_tag_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Plain Text ID3 Tag of a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsTsMuxingId3PlainTextTextId3TagByEncodingIdAndMuxingIdAndPlainTextId3TagId
      parameters:
      - name: encoding_id
        in: path
        description: ID of the Encoding.
        style: simple
        required: true
        schema:
          type: string
          example: 7c850c77-3305-4aa7-8ffd-ac4a94549aeb
      - name: muxing_id
        in: path
        description: ID of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 1fd78356-eb0c-41d8-adea-f9248dad5fc8
      - name: id3_tag_id
        in: path
        description: ID of the Plain Text ID3 Tag
        style: simple
        required: true
        schema:
          type: string
          example: 6c970971-0a47-45f0-9f54-f5fde8bfb645
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: ID of the Plain Text ID3 Tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-ts/{muxing_id}/id3/raw/{id3_tag_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Raw ID3 Tag of a Progressive TS muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveTsTsMuxingId3RawId3TagByEncodingIdAndProgressiveTsMuxingIdAndRawId3TagId
      parameters:
      - name: encoding_id
        in: path
        description: ID of the Encoding.
        style: simple
        required: true
        schema:
          type: string
          example: 7c850c77-3305-4aa7-8ffd-ac4a94549aeb
      - name: muxing_id
        in: path
        description: ID of the Progressive TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 1fd78356-eb0c-41d8-adea-f9248dad5fc8
      - name: id3_tag_id
        in: path
        description: ID of the RAW ID3 Tag
        style: simple
        required: true
        schema:
          type: string
          example: 6c970971-0a47-45f0-9f54-f5fde8bfb645
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: ID of the Raw ID3 Tag
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-wav/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Progressive WAV muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveWavByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive WAV muxing
        style: simple
        required: true
        schema:
          type: string
          example: 6cc47877-b682-49bf-9e10-2b46f6eff1e2
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Progressive WAV muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-webm/{muxing_id}/drm/cenc/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CENC DRM from a Progressive WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveWebmDrmCencByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the CENC DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CENC DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-webm/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from a Progressive WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveWebmDrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/progressive-webm/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Progressive WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsProgressiveWebmWebmByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Progressive WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Progressive WebM muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/segmented-raw/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Segmented RAW muxing
      operationId: DeleteEncodingEncodingsMuxingsSegmentedRawByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Segmented RAW muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Segmented RAW muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/text/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete Text muxing
      operationId: DeleteEncodingEncodingsMuxingsTextByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the Text muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the Text muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/ts/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete TS muxing
      operationId: DeleteEncodingEncodingsMuxingsTsByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the TS muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/ts/{muxing_id}/drm/aes/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete AES encryption configuration from a TS muxing
      operationId: DeleteEncodingEncodingsMuxingsTsDrmAesByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the TS muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the PlayReady DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the AES encryption configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/ts/{muxing_id}/drm/fairplay/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete FairPlay DRM from a TS muxing
      operationId: DeleteEncodingEncodingsMuxingsTsDrmFairplayByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the TS muxing.
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the FairPlay DRM configuration.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the FairPlay DRM configuration.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/ts/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from a TS muxing
      operationId: DeleteEncodingEncodingsMuxingsTsDrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the TS muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/webm/{muxing_id}:
    delete:
      tags:
      - Encodings
      summary: Delete WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsWebmByEncodingIdAndMuxingId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the WebM muxing
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/webm/{muxing_id}/drm/cenc/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete CENC DRM from a WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsWebmDrmCencByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the cenc drm.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the CENC DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/muxings/webm/{muxing_id}/drm/speke/{drm_id}:
    delete:
      tags:
      - Encodings
      summary: Delete SPEKE DRM from a WebM muxing
      operationId: DeleteEncodingEncodingsMuxingsWebmDrmSpekeByEncodingIdAndMuxingIdAndDrmId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: muxing_id
        in: path
        description: Id of the WebM muxing
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      - name: drm_id
        in: path
        description: Id of the SPEKE DRM.
        style: simple
        required: true
        schema:
          type: string
          example: cb90b80c-8867-4e3b-8479-174aa2843f62
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
                      properties:
                        result:
                          allOf:
                          - $ref: '#/components/schemas/BitmovinResponse'
                          - description: Id of the SPEKE DRM
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /encoding/encodings/{encoding_id}/live/insertable-content/{content_id}/schedule/{scheduled_content_id}:
    delete:
      tags:
      - Encodings
      summary: Deschedule Insertable Content
      operationId: DeleteEncodingEncodingsScheduledInsertableContentByEncodingIdAndContentIdAndScheduledContentId
      parameters:
      - name: encoding_id
        in: path
        description: Id of the encoding.
        style: simple
        required: true
        schema:
          type: string
          example: f3177c2e-0000-4ba6-bd20-1dee353d8a72
      - name: content_id
        in: path
        description: Id of the insertable content.
        style: simple
        required: true
        schema:
          type: string
          example: 6c6ca0db-7263-4013-b719-2f3d817520ec
      - name: scheduled_content_id
        in: path
        description: Id of the scheduled insertable content
        style: simple
        required: true
        schema:
          type: string
          example: 5d8fb60a-8422-4d95-8157-b625413036de
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResponseEnvelope'
                - properties:
                    data:
[...]
